@charset    "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('arquivos/fontes/idroid.otf');
    font-weight: normal;
}
*{
    margin: 0px;
    --cor0:#f5f5dc;
    --cor1:#DBDBC5;
    --cor2:#B5B5A3;
    --cor3:#75756A;
    --cor4:#363630;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue',cursive;
    --fonte-android:'Android',cursive;
}
body{
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);
}
header{
    background-image: linear-gradient(to top,var(--cor3),var(--cor2),var(--cor1));
    color: var(--cor4);
    text-align: center;
    padding: 25px;
    font-family: var(--fonte-destaque);
}
nav{
    background-color: #75756A;
    padding: 5px 0px 5px 10px;
}
nav a{
    text-decoration: none;
    color: var(--cor1);
    padding: 5px;
}
main{
    background-color: white;
}
footer{
    background-color: var(--cor4);
    color: var(--cor1);
    
}