@charset    "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('arquivos/fontes/idroid.otf');
    font-weight: normal;
}
*{
    margin: 0px;
    --cor0:#f5f5dc;
    --cor1:#DBDBC5;
    --cor2:#B5B5A3;
    --cor3:#75756A;
    --cor4:#363630;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue',cursive;
    --fonte-android:'Android',cursive;
}
body{
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);
}
header{
    background-image: linear-gradient(to top,var(--cor3),var(--cor2),var(--cor1));
    color: var(--cor4);
    text-align: center;
    padding: 25px;
    font-family: var(--fonte-destaque);
    text-shadow:1.5px 1.5px var(--cor3) ;
}
nav{
    background-color: var(--cor3);
    padding: 5px 0px 5px 10px;
    box-shadow: 0px 3px 3px var(--cor4);
}
nav a{
    text-decoration: none;
    color: var(--cor1);
    padding: 5px;
}
nav a:hover{
    background-color: var(--cor0);
    color: var(--cor3);
    border-radius: 3px;
}
nav a:active{
    color: var(--cor0);
}
section#principal{
    text-align: center;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 15px;
}
section#principal h2{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    padding: 10px;
    color: var(--cor4);
    text-shadow: 1.3px 1.3px 1.3px var(--cor3);
}
section#principal p{
    font-weight: bold;
    padding: 10px;
    color: var(--cor3);
    text-shadow: 0.5px 0.5px 1px var(--cor4);
}
main{
    max-width: 1000px;
    min-width: 300px;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px var(--cor4);
}
main h3{
    background-image: linear-gradient(to right,var(--cor3), var(--cor2),var(--cor1), white,white);
    color: var(--cor0);
    padding: 3px;
}
main p{
    padding: 3px;
    line-height: 1.5em;
}
main ul{
    list-style-position: inside;
    padding: 5px;
    line-height: 1.5em;
    text-indent: 20px;
}
main a{
    text-decoration: none;
    color: var(--cor4);
}
main a:hover{
    color: var(--cor2);
}
main a:active{
    color: var(--cor0);
}
footer{
background-color:var(--cor4) ;
color: var(--cor0);
text-align: center;
padding: 20px 0px;
margin-top: 10px;
}